@import "_et-line.scss";
@import "_font-awesome.scss";

// Prendre toute la hauteur et la largeur de l'élément dans son ensemble
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

// Supprimer les marges des colonnes Bootstrap
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.container-fluid{
  padding: 0;
}

// Définir une hauteur minimale pour le body
#bloc-1 {
  min-height: 500px;
}

// Rendre visible l'icône de navigation
.navbar-light .navbar-toggler {
  color: black;
  border-color: rgb(243, 233, 241);
}
// Centrer les menus "Accueil" et "Panier" pour la responsive
#navbarContent {
  justify-content: center;
}

// Footer
#bloc-2 {
  color: #FFFFFF !important;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 20px;
    .icon-md{
      color: #FFFFFF !important;
      font-size: 30px;
  }
}

// --------------------- Panier.html --------------------------

// Ajouter 3 petits points après un texte qui dépasse
#bloc-libelle-panier {
  font-size: 0.8rem;
  .text_en_suspension {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

#bloc-articles-panier {
  font-size: 0.8rem;
  .text_en_suspension {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

// Réduire la taille Sde police 
#total-commande .row .col{
  font-size: 0.8rem;
}

#total-commande .row .col h5{
  font-size: 0.8rem;
}
